@import '../../mixins.scss';
.project-viewer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;

    .project-header {
        font-size: 8rem;
        text-decoration: bolder;
        color: #d1e8e2;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 25%;
        background-image: linear-gradient(to right, #116466, rgba(4, 89, 110, 0.363)),
            url('../../assets/project-bg.jpg');
        background-size: contain;
        background-position: center;
    }
    .project-card-zone {
        height: 80%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
            rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
        @include nicerOverFlow();
    }
}
.project-dimmed {
    transition-duration: 0.8s;
    .project-display-card {
        animation: appear;
        animation-duration: 1s;
    }
}
@keyframes appear {
    0% {
        transform: translateY(10rem);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 920px) {
    #root {
        .project-header {
            width: 100%;
        }

        .project-card-zone {
            width: 100%;
        }
    }
}
@media screen and (max-height: 600px) {
    #root {
        .project-page {
            .project-header {
                font-size: 4rem;
            }
        }
    }
}
