.icon-header {
    text-align: center;
    padding: 0.7rem;
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    h1 {
        font-size: 1.2rem;
        color: rgb(39, 93, 194);
    }
}
