@import '../../colors.scss';
.icon-header {
    text-align: center;
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    h1 {
        font-size: 1.2rem;
        color: $textColorDark;
    }
}
