.speech-bubble {
    height: 20rem;
    width: 30%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;

    img {
        height: 100%;
        width: 100%;
        opacity: 0.8;
    }
    span {
        width: 80%;
        height: 90%;
        color: black;
        position: absolute;
        top: 10%;
        right: 5%;

        font-size: 15px;
        color: whitesmoke;
    }
}
