.project-card {
    border-radius: 0.4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 90%;
    width: 95%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .project-card-img {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        z-index: 1;
    }
    .arrow-btn {
        position: absolute;
        top: 50%;

        .arrow-btn-bg {
            border-radius: 0.8rem;

            border: #d1e8e2 2px solid;
            font-weight: 900;
            z-index: 2;
        }
        .arrow-text {
            color: #d1e8e2;
            font-size: 3rem;
            z-index: 1;
            font-weight: 700;
        }
    }
}

.zoomTransformPlus {
    opacity: 0.65;
    transform: scale(1.2);
    transition-duration: 5s;
    transition: transform 6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.zoomTransformNormal {
    transform: scale(1);
    transition-duration: 5s;
    transition: transform 6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.pc-container {
    height: 45rem;
    width: 45rem;
    margin: 2.4rem 10rem;
    .project-card-title {
        top: -4rem;
        z-index: 3;
        font-size: 3rem;
        padding-bottom: 0.4rem;
        color: #116466;
        font-weight: bolder;
    }
}

@media screen and (max-width: 920px) {
    #root {
        .pc-container {
            height: 20rem;
            margin: 2.4rem;
            .project-card {
                margin-left: 1rem;
            }
        }
        .project-header {
            font-size: 6rem;
            margin-top: 4.3rem;
        }
        .project-card-title {
            font-size: 2.1rem;
        }

        .arrow-text {
            font-size: 2rem;
        }
    }
}
