.enso-container {
    height: 20rem;
    width: 20rem;
    position: relative;
    margin-bottom: 20px;

    .enso-img {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
    }
    .profile-img {
        width: 99%;
        height: 99%;
        object-fit: cover;
        object-position: top;
        position: absolute;
        top: 0;
        border-radius: 50%;
    }

    .profile-header {
        height: 40px;
        color: rgb(61, 123, 216);
        z-index: 2;
        position: absolute;
        font-size: 2rem;
        font-family: 'Londrina Solid', cursive;
        bottom: -35px;
        right: 10px;
        text-align: center;
    }
}
