@import '../../mixins.scss';
.project-display-card {
    font-family: 'Exo', sans-serif;
    background-color: white;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    height: 90%;
    width: 50%;
    position: absolute;
    top: 5%;
    z-index: 3;
    color: #06182ca6;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: 3.2rem;
        letter-spacing: 1rem;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        width: 100%;
        margin-bottom: 0.5rem;
    }

    video {
        border: rgb(6, 24, 44) 1px solid;
        height: 40%;
        width: 80%;
        z-index: 4;
        margin-bottom: 1rem;
    }
    .project-close-btn {
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        &:hover {
            cursor: pointer;
        }

        .project-x1 {
            height: 25px;
            width: 2px;
            margin-left: 12px;
            background-color: black;
            transform: rotate(45deg);
            z-index: 3;
            position: absolute;
        }

        .project-x2 {
            height: 25px;
            width: 2px;
            margin-left: 12px;
            background-color: black;
            transform: rotate(135deg);
            z-index: 3;
            position: absolute;
        }
    }

    .project-content {
        @include nicerOverFlow();
        height: fit-content;
        width: 80%;
        border: rgb(6, 24, 44) 2px solid;
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
        h3 {
            font-size: 2rem;
        }

        .project-icon-zone {
            display: flex;
            justify-content: space-evenly;
            height: fit-content;
            .icon-header {
                height: 5rem;
                width: 5rem;
                h1 {
                    display: none;
                }
            }
        }
        .project-descrip {
            padding-left: 3rem;
            text-align: left;
            font-size: 1.3rem;
        }
        .project-features {
            font-size: 1.3rem;
            padding-left: 3rem;
            text-align: left;
        }
        span {
            margin-top: 3rem;
        }
        .social-link {
            width: 50%;
            box-shadow: none;
        }
    }
}

@media screen and (max-width: 920px) {
    #root {
        .project-display-card {
            top: 4.5rem;
            height: 90%;
            width: 100%;
        }
    }
}
