@import '../../mixins.scss';
.project-display-card {
    border-radius: 0.3rem;
    background-color: #181818;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    height: 95%;
    width: 50%;
    position: absolute;
    top: 5%;
    z-index: 3;
    color: #eee7e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: 3.2rem;
        letter-spacing: 1rem;
        width: 100%;
        margin-bottom: 0.5rem;
    }

    video {
        height: 40%;
        width: 80%;
        z-index: 4;
        margin-bottom: 1rem;
    }
    .project-close-btn {
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        &:hover {
            cursor: pointer;
        }

        .project-x1 {
            height: 30px;
            width: 2.3px;
            margin-left: 12px;
            background-color: #eee7e7;
            transform: rotate(45deg);
            z-index: 3;
            position: absolute;
        }

        .project-x2 {
            height: 30px;
            width: 2.3px;
            margin-left: 12px;
            background-color: #eee7e7;
            transform: rotate(135deg);
            z-index: 3;
            position: absolute;
        }
    }

    .project-content {
        @include nicerOverFlow();
        height: fit-content;
        width: 80%;
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
        h3 {
            font-size: 2.2rem;
            padding-bottom: 0.8rem;
        }

        .project-icon-zone {
            height: fit-content;
            width: 100%;
            padding-bottom: 0.8rem;
            .icon-header {
                display: inline-block;
                height: 7rem;
                width: 7rem;
                padding: 0.7rem;
                h1 {
                    padding: 0;
                    box-shadow: none;
                    font-size: 1.1rem;
                    letter-spacing: 0;
                    color: #eee7e7;
                }
            }
        }
        .project-descrip {
            padding-left: 3rem;
            padding-bottom: 1.5rem;
            text-align: left;
            font-size: 1.5rem;
        }
        .project-features {
            font-size: 1.5rem;
            padding-left: 3rem;
            padding-bottom: 1.5rem;
            text-align: left;
        }

        .social-link {
            border-radius: 50%;
        }
        span {
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width: 920px) {
    #root {
        .project-display-card {
            top: 4.5rem;
            height: 90%;
            width: 100%;
        }
    }
}
