@import '../../mixins.scss';
.project-display-card {
    border: rgb(39, 93, 194) 1px solid;
    border-radius: 0.8rem;
    background-color: black;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    height: 95%;
    width: 50%;
    position: absolute;
    top: 5%;
    z-index: 3;
    color: #06182ca6;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: 3.2rem;
        letter-spacing: 1rem;
        width: 100%;
        margin-bottom: 0.5rem;
        color: rgb(39, 93, 194);
    }

    video {
        height: 40%;
        width: 80%;
        z-index: 4;
        margin-bottom: 1rem;
    }
    .project-close-btn {
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        &:hover {
            cursor: pointer;
        }

        .project-x1 {
            height: 25px;
            width: 2px;
            margin-left: 12px;
            background-color: rgb(39, 93, 194);
            transform: rotate(45deg);
            z-index: 3;
            position: absolute;
        }

        .project-x2 {
            height: 25px;
            width: 2px;
            margin-left: 12px;
            background-color: rgb(39, 93, 194);
            transform: rotate(135deg);
            z-index: 3;
            position: absolute;
        }
    }

    .project-content {
        @include nicerOverFlow();
        height: fit-content;
        width: 80%;
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
        h3 {
            font-size: 2rem;
            color: rgb(39, 93, 194);
        }

        .project-icon-zone {
            height: 50px;
            width: 100%;
            .icon-header {
                display: inline-block;
                height: 5rem;
                width: 5rem;
                padding: 8px;
                h1 {
                    padding: 0;
                    box-shadow: none;
                    font-size: 0.5rem;
                    letter-spacing: 0;
                }
            }
        }
        .project-descrip {
            padding-left: 3rem;
            text-align: left;
            font-size: 1.3rem;
            color: rgb(39, 93, 194);
        }
        .project-features {
            font-size: 1.3rem;
            padding-left: 3rem;
            text-align: left;
            color: rgb(39, 93, 194);
        }
        span {
            margin-top: 3rem;
            color: rgb(39, 93, 194);
        }
        .social-link {
            width: 50%;
            box-shadow: none;
            color: rgb(39, 93, 194);
        }
    }
}

@media screen and (max-width: 920px) {
    #root {
        .project-display-card {
            top: 4.5rem;
            height: 90%;
            width: 100%;
        }
    }
}
