@import '../../mixins.scss';
.profile-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-bg-top {
        height: 50%;
        width: 100%;
        background-image: linear-gradient(to right, rgba(4, 89, 110, 0.8), rgba(39, 93, 194, 0.76));
    }

    .profile-bg-bottom {
        height: 50%;
        width: 100%;
        background-color: white;
    }

    .profile-resume-container {
        height: 80%;
        width: 80%;
        border-radius: 1rem;
        background-color: #f5f5f5;
        position: absolute;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        top: 10%;

        .profile-res-section-1 {
            overflow: hidden;
            height: 40vh;
            display: flex;
            flex-wrap: wrap;
            padding: 3rem;
            justify-content: center;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

            .enso-container {
                width: 18rem;
                height: 18rem;
                transform: translate(-20%, -1rem);
            }

            .profile-skills {
                height: 28rem;
                width: 60%;
                display: flex;
                flex-direction: column;
                text-align: center;
                border-radius: 1%;

                h4 {
                    color: rgb(39, 93, 194);
                    font-size: 3rem;
                }

                .profile-icon-zone {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    row-gap: 2.5rem;

                    .icon-header {
                        width: 25%;
                        height: 4.2rem;
                    }
                }
            }
        }

        .profile-res-section-2 {
            @include nicerOverFlow();
            display: flex;
            flex-wrap: wrap;
            padding: 1rem;
            justify-content: space-evenly;
            height: 50%;
            background-image: linear-gradient(to right, rgba(4, 89, 110, 0.8), rgba(39, 93, 194, 0.76));
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            h2 {
                text-decoration: underline;
            }
        }

        @mixin section2-inners {
            font-family: 'Exo', sans-serif;
            color: white;
            font-size: 1.3rem;
            width: 40%;
            height: fit-content;
            h2,
            h3,
            ul {
                padding-bottom: 0.6rem;
            }
        }

        .profile-about-me {
            @include section2-inners();
            p {
                text-indent: 10%;
            }
        }

        .profile-work {
            @include section2-inners();
        }
    }
}

@media only screen and (max-width: 920px) {
    @mixin lowerHeaders {
        font-size: 1rem;

        h2 {
            font-size: 1.8rem;
            margin-bottom: 0.5rem;
        }

        h3 {
            font-size: 1.5rem;
        }
        h4 {
            font-size: 1.4rem;
        }
    }
    body {
        @include nicerOverFlow();
    }
    #root {
        .profile-resume-container {
            height: fit-content;
            width: 100%;
            top: 0rem;
            padding-top: 4.5rem;
        }
        html {
            font-size: 37%;
            overflow: scroll;
        }

        .profile-res-section-1 {
            width: 100%;
            height: 40vh;
            row-gap: 1rem;
            padding: 0.3rem;
            .profile-skills {
                height: 20vh;
                width: 95%;
                font-size: 0.1rem;

                .profile-icon-zone {
                    height: 100%;
                    width: 100%;
                    row-gap: 0;
                    .icon-header {
                        height: 1.8rem;
                        padding: 0;
                    }
                }
            }
            .enso-container {
                width: 10vh;
                height: 10vh;
                transform: translateX(1rem);
                margin-bottom: 0.1rem;

                .profile-header {
                    width: 50vw;
                    transform: translatex(38%);
                }
            }
        }
        .profile-res-section-2 {
            height: fit-content;
        }

        .profile-about-me {
            @include lowerHeaders();
        }

        .profile-work {
            @include lowerHeaders();
        }
    }
}
