@import '../../mixins.scss';
@import '../../colors.scss';

.profile-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-bg-top {
        height: 50%;
        width: 100%;
        background-image: linear-gradient(to right, $darkAccent, $bgLightTrans);
    }

    .profile-bg-bottom {
        height: 50%;
        width: 100%;
        background-image: linear-gradient(to left, $darkAccent, $bgLightTrans);
    }

    .profile-resume-container {
        height: 80%;
        width: 80%;
        border-radius: 1rem;
        position: absolute;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        top: 10%;

        .profile-res-section-1 {
            overflow: hidden;
            height: 50%;
            display: flex;

            justify-content: center;

            padding: 3rem;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
            background-color: $bgLight;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            .enso-container {
                width: 18rem;
                height: 18rem;
            }

            .profile-skills {
                height: fit-content;
                width: 60%;
                display: flex;
                flex-direction: column;
                text-align: center;
                border-radius: 1%;

                h4 {
                    color: $textColorDark;
                    font-size: 3rem;
                    margin-bottom: 2.5rem;
                }

                .profile-icon-zone {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;

                    .icon-header {
                        width: 25%;
                        height: 4.2rem;
                        margin-bottom: 2.5rem;
                    }
                }
            }
        }

        .profile-res-section-2 {
            color: $textColorLight;
            @include nicerOverFlow();
            display: flex;
            flex-wrap: wrap;
            padding: 1rem;
            justify-content: space-evenly;
            height: 50%;
            background-color: $bgDark;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            h2 {
                text-decoration: underline;
                margin: 1.2rem 0 1.2rem 0;
                font-size: 2.3rem;
            }
            h3 {
                margin-bottom: 0.5rem;
            }
            ul {
                margin-bottom: 1.2rem;
                li {
                    padding: 0.6rem 0 0.6rem 0;
                }
            }
        }

        @mixin section2-inners {
            font-family: 'Exo', sans-serif;
            font-size: 1.8rem;
            width: 40%;
            height: fit-content;
            h2,
            h3,
            ul {
                padding-bottom: 0.6rem;
            }
        }

        .profile-about-me {
            @include section2-inners();
            p {
                text-indent: 10%;
            }
        }

        .profile-work {
            @include section2-inners();
        }
    }
}

@media only screen and (max-width: 920px) {
    @mixin lowerHeaders {
        font-size: 1rem;

        h2 {
            font-size: 1.8rem;
            margin-bottom: 0.5rem;
        }

        h3 {
            font-size: 1.5rem;
        }
        h4 {
            font-size: 1.4rem;
        }
    }
    body {
        @include nicerOverFlow();
    }
    #root {
        .profile-resume-container {
            height: fit-content;
            width: 100%;
            top: 0rem;
            padding-top: 4.5rem;
        }
        html {
            font-size: 37%;
            overflow: scroll;
        }

        .profile-res-section-1 {
            align-items: center;
            width: 100%;
            height: fit-content;
            row-gap: 1rem;
            padding: 0.3rem;
            flex-direction: column;
            .profile-skills {
                height: fit-content;
                width: 95%;
                margin-bottom: 3rem;
                font-size: 0.1rem;
                .profile-icon-zone {
                    height: 100%;
                    width: 100%;
                    .icon-header {
                        height: 1.8rem;
                        padding: 0;
                    }
                }
                h4 {
                    font-size: 2rem;
                    margin-bottom: 1rem;
                }
            }
        }
        .profile-res-section-2 {
            height: fit-content;
        }

        .profile-about-me {
            @include lowerHeaders();
        }

        .profile-work {
            @include lowerHeaders();
        }
    }
}
