@import '../../colors.scss';
.arrow-btn {
    height: 8rem;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .arrow-btn-bg {
        height: 100%;
        width: 100%;
        border: white 2px solid;
        border-radius: 0.3rem;
        font-size: 3rem;
        font-weight: 300;
        transition-duration: 0.8s;
        color: white;
        z-index: 2;
        &:hover {
            transition-duration: 0.5;
            transform: scaleX(1.25);
            background-color: white;
            z-index: 2;
            opacity: 0.1;
        }
    }

    &:hover {
        transition-duration: 1.5s;
        color: $yellowAccent;
    }
    .arrow-text {
        position: absolute;
        font-size: 2em;
        font-family: 'Exo', sans-serif;
        font-weight: 700;
    }
}
