.arrow-btn {
    height: 8rem;
    width: 20rem;
    border: white 2px solid;
    display: inline-block;
    margin: 0 10rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    transition-duration: 3s;
    color: white;
    font-family: 'Exo', sans-serif;

    &:hover {
        transition-duration: 1.5s;
        width: 30rem;
        color: black;
        background-color: white;
    }
}
