.expanding-image-container {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;

    .expanding-image {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        animation: expand 5s;
    }
}

@keyframes expand {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
