$bgDark: #3d3d3d;
$bgLight: #aaaaaa;
$textColorLight: #ffffff;
$textColorDark: #212121;
$yellowAccent: #ffd369;
$darkAccent: #181818;
$darkAccentTrans: rgba(24, 24, 24, 0.8);
$bgLightTrans: rgba(170, 170, 170, 0.8);
